.header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: none;
    margin-top: 1rem;
}

.main-container{
    margin-bottom: none;
}

.body{
    flex-direction: column;
    margin: 0%;
}