.place-form {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  width:auto;
  height: max-content;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}

.form-container {
  justify-content: center;
  width: 40rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
