header {
    display: flex;
    color: rgb(0, 157, 255);
    background-color: white;
    font-size: 14px;
    font-family:sans-serif;
    font-weight: 5px;
    border: 1px solid #c7c6c6;
    justify-content: space-between;
  }
  .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-container {
    border-right: 1px solid #c7c6c6;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-container {
    /* border: 1px solid #c7c6c6; */
    display: flex;
    opacity: 50%;
    margin-left: 20px;
    align-items: center;
  }
  .icon {
    padding-right: 6px;
  }
  
  .profile-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 80%;
    margin-right: 15px;
  }