/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex; 
  flex-flow: column;
}

.menu-container{
  display: flex;
  /* border-right: 1px solid #c7c6c6;
  border-bottom: 1px solid #c7c6c6; */
}
.body-container {
  display: flex;
  margin-top: 4rem;
  /* border: 1px solid #c7c6c6; */
}

p{
  color: grey;
  font-size: 14px;
  font-family: sans-serif;
}

@font-face {
  font-family: KlinicSlabBold;
  src: url("styles/KlinicSlabMedium.otf") format("opentype");
}
