communities{
    display: flex;
    margin-left: 15px;
}

h1{
    color: #03b0b5;
    font-family: "KlinicSlabBold";
}

@font-face {
    font-family: KlinicSlabBold;
    src: ("colors_fonts/KlinicSlabMedium.otf") format("otf");
  }