html,
body,
main {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #03b0b5;
  font-family: "KlinicSlabBold";
}

@font-face {
  font-family: KlinicSlabBold;
  src: url("../public/fonts/KlinicSlabMedium.otf");
}